/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.testClass {
    /* width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer; */


    /* Эту залупу надо погружать в див
    border-radius: 4;
    width: 38;
    height: 32; */
    /* actually 33 */

    opacity: 0.62;
}

.testClass:hover {
    /* background-color: rgb(228, 228, 228); */
    opacity: 0.725;
}

.testDiv {
    /* width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer; */


    /* Эту залупу надо погружать в див
    border-radius: 4;
    width: 38;
    height: 32; */
    /* actually 33 */


    border-radius: 4;
    width: 38;
    height: 32;

    /* background-color: currentColor; */
    /* opacity:0.0;    */
    background: rgba(0, 0, 0, 0.0);
}


.testDiv:hover {
    background: rgba(0, 0, 0, 0.0);
}

.treeNodeContainer {
    margin: 0;
    padding-top: 5;
    padding-bottom: 5;
    width: "max-content";
    /* opacity: 0.85; */
}


.treeNodeContainer:hover {
    background-color: rgb(228, 228, 228);
    color: black;
    opacity: 1;
    border-radius: 4px;
}


.treeNodeContainer:active  {
    background-color: rgb(200, 200, 200);
    color: black;
    opacity: 1;
    /* width:  */
    /* background-color: rgb(255, 111, 111); */
    /* opacity: 0.725; */
}
/* 
.treeNavArrow
 */


.treeNavArrow:hover {
    background-color: rgb(228, 228, 228);
    color: black;
    opacity: 1;
    border-radius: 4px;
}


.treeNavArrow:active  {
    background-color: rgb(200, 200, 200);
    color: black;
    opacity: 1;
    /* width:  */
    /* background-color: rgb(255, 111, 111); */
    /* opacity: 0.725; */
}